body {
    font-family: 'Source Code Pro', monospace;

}

#top, #bot {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}
#top > * {
    padding: 1%;
}
#bot > * {
    padding: 1%;
}
#secondary {
    display: flex;
    flex-wrap: wrap;
}