html {
    background: url(landscape.jpg) no-repeat center center fixed;
    background-size: cover;
    
    
}
nav {
    display: flex;
    justify-content: center;
    margin: 6px;
    padding:12px;
    
}
body {
    justify-items: center;
    font-family: 'Source Code Pro', monospace;
    
    
}
#my-name {
    display: flex;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    
    

}
#about {
    margin: auto;
    width: 40%;
    height: auto;
    font-family: 'Source Code Pro', monospace;
    font-size: small;
    
    
}
.wrapper {
    display: grid;
    grid-template-columns: 35% 35% ;
    grid-template-rows: 15% 20% 20% 20% 10%;
    grid-template-areas:
    "about about" 
    "pic pic"
    "resume port"
    "proj proj"
    "contact contact";
    width: 80%;
    height: auto;
    margin: auto;
    justify-items: center;
    justify-content: center;
    
}
#about {
    grid-area: about;
    width:40%;
}
#pic {
    grid-area: pic;
    
}
#resume {
    grid-area: resume;
}
#port {
    grid-area: port;
}
#proj {
    grid-area: proj;
   
}
#contact {
    grid-area: contact;
    
}
.item {
    margin: 10%;
    padding: 5%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: flex-start;
    
}
#headshot {
    height: 200px;
    width: auto;
    border-radius: 100%;
    
}
.item>img {
    height: 100px;
    width: auto;
    
    border: 2px solid #79c7bd;
}
.fab.fa-github.fa-4x{
    padding:12px;
}
li {
    font-size: small;
}

@media (max-width: 500px) {
    
    h1 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem; color:#FFF}
    body {
        justify-items: center;
        font-family: 'Source Code Pro', monospace;
        font-size: xx-small;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 45% 45% ;
        grid-template-rows: 15% 20% 20% 20% 10%;
        grid-template-areas:
        "about about" 
        "pic pic"
        "resume port"
        "proj proj"
        "contact contact";
        width:95%;
        height: auto;
        margin: auto;
        justify-items: center;
        justify-content: center; 
        }   
    #my-name {
        display: flex;
        justify-content: center;
        font-family: 'Source Code Pro', monospace;

    }
    #about {
        margin: auto;
        width: 100%;
        height: auto;
        font-family: 'Source Code Pro', monospace;
        font-size: x-small;
    }
    .button {
        height: 25px;
        width: 30px;
        font-size: 100%;
        align-items: center;

    }
    body:after{
        content:"";
        position:fixed; /* stretch a fixed position to the whole screen */
        top:0;
        height:100vh; /* fix for mobile browser address bar appearing disappearing */
        left:0;
        right:0;
        z-index:-1; /* needed to keep in the background */
        background: url(landscape.jpg) center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #headshot {
        height: 100px;
        width: auto;
        border-radius: 100%;
    }
    li {
        font-size: x-small;
    }
}


@media (min-width: 768px) {

    nav {
        display: flex;
        justify-content: center;
        margin: 6px;
        padding:12px;
        
    }
    body {
        justify-items: center;
        font-family: 'Source Code Pro', monospace;
        font-size: 12px;
        
        
    }
    #my-name {
        display: flex;
        justify-content: center;
        font-family: 'Source Code Pro', monospace;   
    
    }
    #about {
        margin: auto;
        
        height: auto;
        font-family: 'Source Code Pro', monospace;
        font-size: small;
    
    }
    .wrapper {
        display: grid;
        grid-template-columns: 35% 35% ;
        grid-template-rows: auto;
        grid-template-areas:
        "about about" 
        "pic pic"
        "resume port"
        "proj proj"
        "contact contact";
        width: 70%;
        height: auto;
        
        justify-items: center;
        justify-content: center;
        
    }
    #about {
        grid-area: about;
        width:50%;
    }
    #pic {
        grid-area: pic;
           
    }
    #resume {
        grid-area: resume;
    }
    #port {
        grid-area: port;
    }
    #proj {
        grid-area: proj;
       
    }
    #contact {
        grid-area: contact;
        
    }
    .item {
        margin: 10%;
        padding: 5%;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: flex-start;
    }
    #headshot {
        height: 150px;
        width: auto;
        border-radius: 100%;
        align-items: flex-start;
    }
    .item>img {
        height: 200px;
        width: auto;
        align-items: flex-start;
        border: 3px solid #79c7bd;
    }
    .fab.fa-github.fa-4x{
        padding:12px;
    }
    li {
        font-size: smaller;
    }

}
@media (min-width: 1000px) {
    #headshot {
        height: 200px;
        width: auto;
        border-radius: 100%;
        align-items: flex-start;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 40% 40% ;
        grid-template-rows: 10% 20% 15% 20% 10%;
        grid-template-areas:
        "about about" 
        "pic pic"
        "resume port"
        "proj proj"
        "contact contact";
        width: 80%;
        height: auto;
        
        justify-items: center;
        justify-content: center;
        
    }
    body {
        justify-items: center;
        font-family: 'Source Code Pro', monospace;
        font-size: 18px;
      
    }
    #about {
        margin: auto;
        width: 70%;
        height: auto;
        font-family: 'Source Code Pro', monospace;
        font-size: medium;
    }
    .item {
        margin: 5%;
        padding: 5%;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: flex-start;

    }
}